@charset "UTF-8";
.banxin {
  width: 1500px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #333;
  text-decoration: none;
}

li,
i,
em {
  list-style: none;
  font-style: normal;
}

body {
  font: 12px Arial, Helvetica, sans-serif;
  line-height: 15px;
  overflow-x: hidden;
  background: #f8f8f8;
}

@font-face {
  font-family: "iconfont";
  src: url(./../font/iconfont.woff) format("woff");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
}

.f1 {
  float: left;
}

.f2 {
  float: right;
}

.location {
  font-size: 12px;
  margin: 0 5px;
  color: #fff;
}

.fada {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: 0;
  border: 0;
  outline: 0;
  font-size: 20px;
  color: silver;
}

.gw {
  z-index: 1000;
  position: absolute;
  width: 40px;
  height: 30px;
  font-size: 34px;
  color: #fff;
  top: 14px;
}

.title {
  margin: 30px 0;
}

.title h2 {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

/*-------------------分割线-----------------------*/
.pink {
  background: #f68595;
}

.bule {
  background: #1777dd;
}

.green {
  background: #80bc0e;
}

.purple {
  background: #7855c0;
}

.box {
  height: 33px;
  line-height: 33px;
  color: #a5c7db;
  background-color: #0069aa;
  border-bottom: 1px solid #005c9d;
}

.box .left-1 {
  float: left;
}

.box .left-1 a {
  color: #fff;
}

.box .left-1 a:hover {
  text-decoration: underline;
}

.box .left-1 i {
  padding: 0 2px;
}

.box .right-1 {
  float: right;
}

.box .right-1 ul li {
  float: left;
  height: 24px;
  line-height: 24px;
  border: 1px solid #0069aa;
  margin-top: 4px;
  position: relative;
}

.box .right-1 ul li:hover {
  border: 1px solid #015789;
  background-color: #015c92;
  color: #fff;
}

.box .right-1 ul li:hover .erji {
  display: block;
}

.box .right-1 ul li:hover .updata {
  transform: rotate(180deg);
}

.box .right-1 ul li a {
  display: block;
  width: 66px;
  padding: 0 10px;
  color: #a5c7db;
  transition: 0.5s;
}

.box .right-1 ul li a:hover {
  color: #fff;
}

.box .right-1 ul li a .updata {
  display: block;
  float: right;
  padding: 1px;
  transition: all .3s linear;
}

.box .right-1 ul li .line {
  width: 1px;
  height: 12px;
  margin-top: 10px;
  background-color: #005c9d;
  position: absolute;
  right: 3px;
  top: -4px;
}

.box .right-1 ul li .erji {
  display: none;
  padding-top: 8px;
  z-index: 1300;
  position: absolute;
  left: -4px;
  animation: flyout-slide-bottom .3s ease forwards;
}

.box .right-1 ul li .erji .sanjiao {
  width: 0;
  height: 0;
  display: block;
  border: 10px solid transparent;
  border-bottom-color: white;
  border-top: 0;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: -1px;
}

.box .right-1 ul li .erji .yiz {
  width: 95px;
  padding: 5px 0;
  border: 1px solid #d4d4d4;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.box .right-1 ul li .erji .yiz a {
  display: block;
  height: 28px;
  line-height: 28px;
  margin: 0 10px;
  color: #333;
  transition: all .3s ease;
}

.two {
  height: 67px;
  background-color: #0069aa;
  border-top: 1px solid #0772b4;
}

.two .logo {
  width: 233px;
  height: 67px;
  overflow: hidden;
}

.two .logo a {
  display: block;
  width: 233px;
  height: 67px;
}

.two .logo a img {
  vertical-align: top;
}

.two .dizhi {
  width: 200px;
  height: 67px;
  margin-left: 20px;
  line-height: 67px;
  color: #a5c7db;
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.two .dizhi em {
  margin-right: 5px;
  font-size: 14px;
}

.two .xiu {
  position: relative;
  cursor: pointer;
}

.two .xiu .xiu-1 {
  width: 74px;
  height: 24px;
  margin: 20px 0 0 3px;
  line-height: 24px;
  color: #a5c7db;
  background-color: #1a78b3;
  border: 1px solid #79aece;
  text-align: center;
}

.two .xiu-3 {
  width: 205px;
  height: 25px;
  margin-top: 23px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 25px;
  color: #a5c7db;
  overflow: hidden;
  font-size: 14px;
}

.two .xiu-3 em {
  font-size: 12px;
  padding: 0 3px;
}

.two .xiu-3 p {
  width: 125px;
  height: 25px;
  font-size: 12px;
}

.two .put {
  margin-top: 15px;
}

.two .put .put-1 {
  z-index: 1001;
  position: relative;
  width: 360px;
  height: 36px;
}

.two .put .put-1 input {
  width: 350px;
  height: 34px;
  line-height: 34px;
  padding: 0 4px;
  background-color: #015c92;
  border: 1px solid #015789;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  outline: 0;
}

.two .put .put-2 {
  position: relative;
  margin-left: 30px;
  width: 40px;
  height: 36px;
}

.two .put .put-2 .put-3 {
  position: relative;
  width: 40px;
  height: 36px;
  cursor: pointer;
}

.two .put .put-2 .put-3 .shuzi {
  z-index: 1001;
  position: absolute;
  left: -4px;
  width: 35px;
  font-size: 16px;
  color: #ffc222;
  font-family: "Century Gothic";
  font-weight: 700;
  text-align: center;
  top: 7px;
}

.three {
  height: 40px;
  background-color: #004b8d;
}

.three li {
  position: relative;
  float: left;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding: 0 2%;
  cursor: pointer;
}

.three li:hover {
  background: #f1f1f1;
}

.three li:hover .yinz {
  display: block;
}

.three li:hover a {
  color: #004b8d;
}

.three li a {
  display: block;
  color: #fff;
  max-width: 56px;
  height: 40px;
  overflow: hidden;
}

.three li .yinz {
  width: 1536px;
  display: none;
  z-index: 1000;
  position: absolute;
  left: -4px;
  max-height: 410px;
  overflow: hidden;
  padding: 0 0 20px 20px;
  border: 2px solid #004b8d;
  border-top: 0;
  background-color: #f1f1f1;
  font-size: 12px;
}

.three li .yinz .yinz-1 {
  width: 115px;
  padding-right: 10px;
}

.three li .yinz .yinz-1 dl {
  padding-top: 15px;
}

.three li .yinz .yinz-1 dl dt {
  height: 35px;
  margin-bottom: 8px;
  line-height: 35px;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #333;
}

.three li .yinz .yinz-1 dl dt a {
  color: #333;
}

.three li .yinz .yinz-1 dl dd {
  height: 25px;
  line-height: 25px;
}

.three li .yinz .yinz-1 dl dd a {
  float: left;
  width: 78px;
  height: 25px;
  overflow: hidden;
  color: #333;
}

.banner {
  height: 400px;
  overflow: hidden;
  width: auto;
  position: relative;
}

.banner .u1 {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.banner .u1 li.show {
  opacity: 1;
}

.banner .u1 li {
  height: 400px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all .5s;
}

.banner .u1 li img {
  position: absolute;
  width: 1500px;
  left: 200px;
}

.banner p {
  z-index: 20;
  position: absolute;
  bottom: 6px;
  text-align: center;
  width: 100%;
}

.banner p span.active {
  background: #004b8d;
  color: #fff;
}

.banner p span {
  background: #fff;
  opacity: .9;
  padding: 8px 20px;
  margin-right: 1px;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}

.banner p span a {
  display: block;
  max-width: 96px;
  height: 18px;
  color: #333;
  overflow: hidden;
}

.content {
  height: 305px;
  position: relative;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background: #fff;
  overflow: hidden;
  margin-bottom: 30px;
}

.content .kuai-L {
  position: relative;
  width: 250px;
  height: 100%;
  float: left;
}

.content .kuai-L .tu {
  position: relative;
  width: 100%;
  padding-top: 96.7%;
}

.content .kuai-L .tu img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
}

.content .kuai-L .ban {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  line-height: 24px;
}

.content .kuai-L .ban .a1 {
  display: block;
  font-size: 24px;
  padding: 0 20px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 30px;
  color: #fff;
  font-weight: bold;
  width: 100px;
  height: 25px;
  overflow: hidden;
}

.content .kuai-L .ban h4 {
  font-size: 18px;
  font-weight: normal;
  padding: 0 20px;
  text-align: left;
  height: 24px;
  overflow: hidden;
}

.content .kuai-L .ban-1 {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -15px;
  height: 79px;
}

.content .kuai-L .ban-1 li {
  float: left;
  width: 125px;
  height: 24px;
  line-height: 18px;
  text-align: center;
}

.content .kuai-L .ban-1 li a {
  display: inline-block;
  color: #eee;
  font-size: 12px;
  width: 60px;
}

/*内容区 渲染样式*/
.kuai-R {
  margin-left: 250px;
  overflow: hidden;
}

.kuai-R .item {
  position: relative;
  float: left;
  width: 200px;
  text-align: center;
  transition: box-shadow .5s, -moz-box-shadow .5s;
}

.kuai-R .item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.kuai-R .item a {
  display: block;
  margin: 12px;
}

.kuai-R .item .i-size-box {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.kuai-R .item img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

.kuai-R .item .marking {
  background: #fff200;
  position: absolute;
  left: 18px;
  bottom: 65px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #fff;
  display: table;
}

.kuai-R .item .marking .boxs {
  vertical-align: middle;
  display: table-cell;
  height: 44px;
  line-height: 12px;
  color: #0069aa;
}

.kuai-R .item .marking .boxs p {
  font-size: 12px;
  padding: 0;
  width: 100%;
  line-height: 16px;
}

.kuai-R .item .marking .boxs i {
  font-size: 12px;
  padding: 0;
  width: 100%;
  line-height: 16px;
}

.kuai-R .item .save2 {
  background: #0069aa;
  position: absolute;
  left: 18px;
  bottom: 65px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #fff;
  display: table;
}

.kuai-R .item .save2 .boxs {
  vertical-align: middle;
  display: table-cell;
  height: 44px;
  line-height: 12px;
  color: #a5c7db;
}

.kuai-R .item .save2 .boxs p {
  font-size: 12px;
  padding: 0;
  width: 100%;
  line-height: 16px;
}

.kuai-R .item .save2 .boxs i {
  font-size: 12px;
  padding: 0;
  width: 100%;
  line-height: 16px;
}

.kuai-R .item .is-tags-mark {
  box-sizing: border-box;
  width: 100%;
  padding-left: 60px;
  position: relative;
  text-align: left;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.kuai-R .item .is-tags-mark .jsd-tag {
  position: absolute;
  left: 0px;
  top: 4px;
  width: 56px;
  height: 22px;
  background: url(../img/2.png);
}

.kuai-R .item .is-tags-mark .i-size-tit {
  position: relative;
  text-align: left;
}

.kuai-R .item .is-tags-mark .i-size-tit .is-tags-mark {
  box-sizing: border-box;
  width: 100%;
  padding-left: 60px;
}

.kuai-R .item span {
  font-size: 16px;
  font-weight: bold;
}

.kuai-R .item span em {
  font-size: 12px;
}

.kuai-R a {
  display: block;
  margin: 12px;
}

.kuai-R a .con-2 {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.kuai-R a .con-2 img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

.kuai-R a p {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  padding-left: 60px;
  position: relative;
  text-align: center;
  font-size: 14px;
  padding: 7px 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.kuai-R a p .x-tu {
  position: absolute;
  left: 0px;
  top: 4px;
  width: 56px;
  height: 22px;
  background: url(./../img/2.png);
}

.kuai-R a span {
  font-size: 16px;
  font-weight: bold;
}

.kuai-R a span .money {
  font-size: 12px;
}

.kuai-R a .yuan {
  position: absolute;
  left: 18px;
  bottom: 65px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #fff;
  display: table;
  background: #fff200;
}

.kuai-R a .yuan .yuan-1 {
  vertical-align: middle;
  display: table-cell;
}

.kuai-R a .yuan .yuan-1 p {
  color: #0069aa;
  font-size: 12px;
  padding: 0;
  width: 100%;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.advertising {
  background-image: url(./../img/5.jpg);
  padding-top: 118px;
  background-repeat: no-repeat;
  background-position: center top;
  margin-top: 30px;
  padding-bottom: 10px;
}

.advertising .neir {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.advertising .neir .Left-1 {
  float: left;
  position: relative;
}

.advertising .neir .title-1 {
  padding-top: 25px;
  margin: 0 25px 0 505px;
  overflow: hidden;
  height: 510px;
}

.advertising .neir .title-1 h1 {
  font-size: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid #eee;
  margin-bottom: 25px;
}

.advertising .neir .title-1 h1 span {
  margin-top: 30px;
  display: block;
  font-weight: normal;
  color: #999;
  margin-left: 5px;
  margin-top: 30px;
}

.advertising .neir .title-1 h3 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
}

.advertising .neir .title-1 .Right-1 {
  position: relative;
}

.advertising .neir .title-1 .Right-1 .men {
  overflow: hidden;
}

.advertising .neir .title-1 .Right-1 .men ul {
  width: 242px;
  margin-left: 726px;
}

.advertising .neir .title-1 .Right-1 .men ul li {
  width: 242px;
  float: left;
  text-align: center;
}

.advertising .neir .title-1 .Right-1 .men ul li .tu-3 {
  position: relative;
  width: 100%;
  padding-top: 65%;
}

.advertising .neir .title-1 .Right-1 .men ul li .tu-3 img {
  position: absolute;
  left: 2%;
  top: 0px;
  width: 96%;
}

.advertising .neir .title-1 .Right-1 .men ul li .p2 {
  text-align: center;
  padding: 0 10%;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: bold;
  margin: 15px 0;
}

.advertising .neir .title-1 .Right-1 .men ul li .p3 {
  text-align: center;
  height: 60px;
  line-height: 20px;
  padding: 0 10%;
  overflow: hidden;
  color: #999;
}

.advertising .neir .title-1 .Right-1 .men ul li .mens {
  display: inline-block;
  background: #52b014;
  padding: 5px 25px;
  color: #fff;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 15px;
}

.tu-L {
  width: 310px;
  float: left;
}

.tu-L .tu-LL {
  position: relative;
  width: 100%;
  padding-top: 155%;
}

.tu-L .tu-LL img {
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
}

.tu-L .saoma {
  background: #fff;
  margin-top: 10px;
  padding: 36px 30px;
}

.tu-L .saoma ul {
  overflow: hidden;
}

.tu-L .saoma ul li {
  width: 50%;
  box-sizing: border-box;
  float: left;
  text-align: center;
  padding: 5px 20px;
}

.tu-L .saoma ul li .top {
  position: relative;
  width: 100%;
}

.evaluate {
  margin-left: 320px;
  background: #fff;
  padding: 32px 30px;
}

.evaluate .main {
  overflow: hidden;
  padding: 0;
  height: 616px;
  outline: 0;
}

.evaluate .main .main-1 {
  width: 1120px;
  height: 616px;
  overflow: hidden;
  position: relative;
}

.evaluate .main .main-1 .main-2 {
  padding: 0;
  top: 0px;
  width: 1109px;
  position: absolute;
}

.evaluate .main .main-1 .main-2 .pinjia {
  margin-bottom: 24px;
}

.evaluate .main .main-1 .main-2 .pinjia .inof {
  height: 40px;
  margin-bottom: 10px;
}

.evaluate .main .main-1 .main-2 .pinjia .inof a {
  float: left;
}

.evaluate .main .main-1 .main-2 .pinjia .inof a img {
  border-radius: 50%;
  margin-right: 10px;
}

.evaluate .main .main-1 .main-2 .pinjia .inof p {
  font-weight: bold;
}

.evaluate .main .main-1 .main-2 .pinjia .inof .des {
  color: #aaa;
  float: left;
}

.evaluate .main .main-1 .main-2 .inof-1 {
  line-height: 22px;
  color: #999;
  margin-bottom: 10px;
}

.scroll {
  position: relative;
  top: 0;
  right: 0;
  height: 616px;
}

.scroll .dragbox {
  width: 7px;
  height: 80px;
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  opacity: .2;
  border-radius: 10px;
}

.bai {
  width: 100%;
  height: 100px;
}

.dibu {
  background-color: #ebebeb;
  color: #666;
  border-top: 30px #e6e6e6 solid;
}

.dibu .tu-x {
  margin-top: -30px;
  line-height: 30px;
  overflow: hidden;
}

.dibu .tu-x .first {
  width: 16%;
  text-align: center;
  float: left;
  padding-bottom: 30px;
  line-height: 20px;
}

.dibu .tu-x dl {
  width: 14%;
  float: left;
  padding-bottom: 30px;
  text-align: left;
}

.dibu .tu-x dl dt {
  display: block;
}

.dibu .tu-x dl .info {
  margin-top: 15px;
}

.dibu .tu-x dl .info a {
  display: block;
  height: 25px;
  line-height: 25px;
  color: #666;
}

.tu-y {
  margin-left: 0 auto;
  margin-right: 0 auto;
  padding-bottom: 40px;
  text-align: center;
}

.tu-y .about a {
  height: 30px;
  line-height: 30px;
  color: #666;
}

.luoti {
  width: 35px;
  position: fixed;
  top: 100px;
  z-index: 10;
  right: 15px;
  border: 1px solid #ddd;
  display: none;
}

.luoti ul li.active-1 {
  color: red;
  border-bottom: 1px solid #ddd;
  background: #fff;
}

.luoti ul li.last {
  background: #0069aa;
  color: #fff;
  border-bottom: 1px solid #ddd;
}

.luoti ul li {
  width: 35px;
  height: 32px;
  border-bottom: 1px dotted #DDDDDD;
  list-style: none;
  font-size: 12px;
  text-align: center;
  position: relative;
  cursor: pointer;
  padding: 10px 0;
  background: #1777dd;
  color: #fff;
}

.luoti ul li:hover span {
  color: #1777dd;
  background: #fff;
}

.luoti ul li span {
  width: 35px;
  height: 32px;
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 0;
}
