.banxin {
  width: 1400px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #333;
  text-decoration: none;
}

li,
i,
em {
  list-style: none;
  font-style: normal;
}

body {
  font: 12px Arial, Helvetica, sans-serif;
  line-height: 15px;
  overflow-x: hidden;
}

@font-face {
  font-family: "iconfont";
  src: url(./../font/iconfont.woff) format("woff");
}

.gw {
  z-index: 1000;
  position: absolute;
  width: 40px;
  height: 30px;
  font-size: 34px;
  color: #fff;
  top: 14px;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
}

.f1 {
  float: left;
}

.f2 {
  float: right;
}

.updata {
  vertical-align: top;
  padding-left: 1px;
}

.location {
  font-size: 12px;
  margin: 0 5px;
  color: #fff;
}

.fada {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: 0;
  border: 0;
  outline: 0;
  font-size: 20px;
  color: silver;
}

.box {
  height: 33px;
  line-height: 33px;
  color: #a5c7db;
  background-color: #0069aa;
  border-bottom: 1px solid #005c9d;
}

.box .left-1 {
  float: left;
}

.box .left-1 a {
  color: #fff;
}

.box .left-1 a:hover {
  text-decoration: underline;
}

.box .left-1 i {
  padding: 0 2px;
}

.box .right-1 {
  float: right;
}

.box .right-1 ul li {
  float: left;
  height: 24px;
  line-height: 24px;
  border: 1px solid #0069aa;
  margin-top: 4px;
  position: relative;
}

.box .right-1 ul li:hover {
  border: 1px solid #015789;
  background-color: #015c92;
  color: #fff;
}

.box .right-1 ul li:hover .erji {
  display: block;
}

.box .right-1 ul li:hover .updata {
  transform: rotate(180deg);
}

.box .right-1 ul li a {
  display: block;
  width: 66px;
  padding: 0 10px;
  color: #a5c7db;
  transition: 0.5s;
}

.box .right-1 ul li a:hover {
  color: #fff;
}

.box .right-1 ul li a .updata {
  display: block;
  float: right;
  padding: 1px;
  transition: all .3s linear;
}

.box .right-1 ul li .line {
  width: 1px;
  height: 12px;
  margin-top: 10px;
  background-color: #005c9d;
  position: absolute;
  right: 3px;
  top: -4px;
}

.box .right-1 ul li .erji {
  display: none;
  padding-top: 8px;
  z-index: 1300;
  position: absolute;
  left: -4px;
  animation: flyout-slide-bottom .3s ease forwards;
}

.box .right-1 ul li .erji .sanjiao {
  width: 0;
  height: 0;
  display: block;
  border: 10px solid transparent;
  border-bottom-color: white;
  border-top: 0;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: -1px;
}

.box .right-1 ul li .erji .yiz {
  width: 95px;
  padding: 5px 0;
  border: 1px solid #d4d4d4;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.box .right-1 ul li .erji .yiz a {
  display: block;
  height: 28px;
  line-height: 28px;
  margin: 0 10px;
  color: #333;
  transition: all .3s ease;
}

.two {
  height: 67px;
  background-color: #0069aa;
  border-top: 1px solid #0772b4;
}

.two .logo {
  width: 233px;
  height: 67px;
  overflow: hidden;
}

.two .logo a {
  display: block;
  width: 233px;
  height: 67px;
}

.two .logo a img {
  vertical-align: top;
}

.two .dizhi {
  width: 200px;
  height: 67px;
  margin-left: 20px;
  line-height: 67px;
  color: #a5c7db;
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.two .dizhi em {
  margin-right: 5px;
  font-size: 14px;
}

.two .xiu {
  position: relative;
  cursor: pointer;
}

.two .xiu .xiu-1 {
  width: 74px;
  height: 24px;
  margin: 20px 0 0 3px;
  line-height: 24px;
  color: #a5c7db;
  background-color: #1a78b3;
  border: 1px solid #79aece;
  text-align: center;
}

.two .xiu-3 {
  width: 205px;
  height: 25px;
  margin-top: 23px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 25px;
  color: #a5c7db;
  overflow: hidden;
  font-size: 14px;
}

.two .xiu-3 em {
  font-size: 12px;
  padding: 0 3px;
}

.two .xiu-3 p {
  width: 125px;
  height: 25px;
  font-size: 12px;
}

.two .put {
  margin-top: 15px;
}

.two .put .put-1 {
  z-index: 1001;
  position: relative;
  width: 360px;
  height: 36px;
}

.two .put .put-1 input {
  width: 350px;
  height: 34px;
  line-height: 34px;
  padding: 0 4px;
  background-color: #015c92;
  border: 1px solid #015789;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  outline: 0;
}

.two .put .put-2 {
  position: relative;
  margin-left: 30px;
  width: 40px;
  height: 36px;
}

.two .put .put-2 .put-3 {
  position: relative;
  width: 40px;
  height: 36px;
  cursor: pointer;
}

.two .put .put-2 .put-3 .shuzi {
  z-index: 1001;
  position: absolute;
  left: -4px;
  width: 35px;
  font-size: 16px;
  color: #ffc222;
  font-family: "Century Gothic";
  font-weight: 700;
  text-align: center;
  top: 7px;
}

.three {
  height: 40px;
  background-color: #004b8d;
}

.three li {
  position: relative;
  float: left;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding: 0 2%;
  cursor: pointer;
}

.three li:hover {
  background: #f1f1f1;
}

.three li:hover .yinz {
  display: block;
}

.three li:hover a {
  color: #004b8d;
}

.three li a {
  display: block;
  color: #fff;
  max-width: 56px;
  height: 40px;
  overflow: hidden;
}

.three li .yinz {
  display: none;
  z-index: 1000;
  position: absolute;
  left: -4px;
  max-height: 410px;
  overflow: hidden;
  padding: 0 0 20px 20px;
  border: 2px solid #004b8d;
  border-top: 0;
  background-color: #f1f1f1;
  font-size: 12px;
}

.three li .yinz .yinz-1 {
  width: 115px;
  padding-right: 10px;
}

.three li .yinz .yinz-1 dl {
  padding-top: 15px;
}

.three li .yinz .yinz-1 dl dt {
  height: 35px;
  margin-bottom: 8px;
  line-height: 35px;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #333;
}

.three li .yinz .yinz-1 dl dt a {
  color: #333;
}

.three li .yinz .yinz-1 dl dd {
  height: 25px;
  line-height: 25px;
}

.three li .yinz .yinz-1 dl dd a {
  float: left;
  width: 78px;
  height: 25px;
  overflow: hidden;
  color: #333;
}

.td {
  float: left;
  text-align: center;
  width: 160px;
}

.gwc {
  width: 100%;
  color: #666;
}

.gwc .gwc-1 {
  width: 1200px;
  margin: 0 auto;
}

.gwc .gwc-1 .tou {
  width: 100%;
  padding: 40px 0 0 0;
  background: #fff;
  overflow: hidden;
}

.gwc .gwc-1 .tou h2 {
  float: left;
  width: 105px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  color: #0069aa;
}

.gwc .gwc-1 .title-1 {
  border: 1px solid #e3e3e3;
  margin-bottom: 60px;
}

.gwc .gwc-1 .title-1 .content {
  height: 30px;
  line-height: 30px;
  padding: 10px 15px;
  background: #fafafa;
  border-bottom: 1px solid #e3e3e3;
}

.gwc .gwc-1 .title-1 .content h3 {
  font-size: 18px;
  color: #666;
}

.gwc .gwc-1 .title-1 .neir {
  height: 50px;
  line-height: 50px;
}

.gwc .gwc-1 .title-1 .td-1 {
  width: 50px;
}

.gwc .gwc-1 .title-1 .td-2 {
  width: 325px;
}

.gwc .gwc-1 .title-1 .neir2 {
  overflow: hidden;
}

.gwc .gwc-1 .title-1 .neir2 .lie {
  border-top: 1px solid #f7f7f7;
}

.gwc .gwc-1 .title-1 .neir2 .lie .lie-1 {
  position: relative;
  height: 90px;
  padding: 20px 0;
  line-height: 26px;
}

.gwc .gwc-1 .title-1 .neir2 .lie .lie-1 .info-img {
  position: relative;
  float: left;
  width: 90px;
  height: 90px;
}

.gwc .gwc-1 .title-1 .neir2 .lie .lie-1 .info-img img {
  width: 100%;
}

.gwc .gwc-1 .title-1 .neir2 .lie .lie-1 h6 {
  height: 40px;
  overflow: hidden;
  line-height: 20px;
  margin-left: 105px;
  font-weight: 500;
  font-size: 12px;
}

.gwc .gwc-1 .title-1 .neir2 .lie .lie-1 h6 a {
  color: #666;
}

.gwc .gwc-1 .title-1 .neir2 .lie .lie-1 p {
  height: 20px;
  line-height: 20px;
  margin-left: 105px;
  margin-top: 5px;
  color: #666;
}

.gwc .gwc-1 .title-1 .neir2 .lie .lie-1 .td-3 {
  font-size: 16px;
}

.gwc .gwc-1 .title-1 .neir2 .lie .lie-1 .td-4 .ji {
  width: 88px;
  height: 26px;
  line-height: 26px;
  margin: 0 auto;
  border: 1px solid #dfdfdf;
}

.gwc .gwc-1 .title-1 .neir2 .lie .lie-1 .td-4 .ji .jian {
  float: left;
  width: 20px;
  height: 26px;
  text-align: center;
  font-size: 12px;
  color: #ddd;
}

.gwc .gwc-1 .title-1 .neir2 .lie .lie-1 .td-4 .ji .pt {
  float: left;
  width: 46px;
  height: 20px;
  line-height: 20px;
  margin-top: 3px;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}

.gwc .gwc-1 .title-1 .neir2 .lie .lie-1 .td-4 .ji .pt input {
  width: 100%;
  border: 0 none;
  text-align: center;
}

.gwc .gwc-1 .title-1 .neir2 .lie .lie-1 .td-4 .ji .jia {
  float: right;
  width: 20px;
  height: 26px;
  text-align: center;
  font-size: 12px;
  color: #ddd;
}

.gwc .gwc-1 .title-1 .neir2 .lie .lie-1 .td-6 {
  height: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #0069aa;
  font-size: 16px;
}

.gwc .gwc-1 .title-1 .neir2 .liebiao {
  overflow: hidden;
  border-top: 1px solid #e3e3e3;
  background: #f8f8f8;
}

.gwc .gwc-1 .title-1 .neir2 .liebiao .L {
  position: relative;
  float: left;
  padding: 10px 0;
}

.gwc .gwc-1 .title-1 .neir2 .liebiao .L .kong {
  position: relative;
  width: 30px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  float: left;
  padding: 0 10px;
}

.gwc .gwc-1 .title-1 .neir2 .liebiao .L .k {
  float: left;
  height: 40px;
  line-height: 20px;
  padding: 0 10px;
}

.gwc .gwc-1 .title-1 .neir2 .liebiao .L .k em {
  display: block;
}

.gwc .gwc-1 .title-1 .neir2 .liebiao .L .k-1 a {
  color: #0069aa;
}

.gwc .gwc-1 .title-1 .neir2 .liebiao .R {
  position: relative;
  float: right;
  height: 60px;
}

.gwc .gwc-1 .title-1 .neir2 .liebiao .R .a1 {
  float: right;
  width: 120px;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  text-align: center;
  background: #6cae38;
  font-family: "Microsoft Yahei";
  color: #fff;
}

.gwc .gwc-1 .title-1 .neir2 .liebiao .R .R-1 {
  position: relative;
  float: right;
  height: 40px;
  padding: 10px 0;
  margin-right: 20px;
  line-height: 20px;
}

.gwc .gwc-1 .title-1 .neir2 .liebiao .R .R-1 em {
  display: block;
}

.gwc .gwc-1 .title-1 .neir2 .liebiao .R .R-1 span {
  margin: 0 5px;
  color: #0069aa;
  font-size: 14px;
}

.gwc .gwc-1 .title-1 .neir2 .liebiao .R .R-1 span i {
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
}

.gwc .gwc-1 .title-1 .neir2 .liebiao .R .R-1 .num {
  text-decoration: none;
}

.gwc .gwc-1 .title-1 .liebiao {
  overflow: hidden;
  border-top: 1px solid #e3e3e3;
  background: #f8f8f8;
}

.gwc .gwc-1 .title-1 .liebiao .L {
  position: relative;
  float: left;
  padding: 10px 0;
}

.gwc .gwc-1 .title-1 .liebiao .L .kong {
  position: relative;
  width: 30px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  float: left;
  padding: 0 10px;
}

.gwc .gwc-1 .title-1 .liebiao .L .k {
  float: left;
  height: 40px;
  line-height: 20px;
  padding: 0 10px;
}

.gwc .gwc-1 .title-1 .liebiao .L .k em {
  display: block;
}

.gwc .gwc-1 .title-1 .liebiao .L .k-1 a {
  color: #0069aa;
}

.gwc .gwc-1 .title-1 .liebiao .R {
  position: relative;
  float: right;
  height: 60px;
}

.gwc .gwc-1 .title-1 .liebiao .R .a1 {
  float: right;
  width: 120px;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  text-align: center;
  background: #6cae38;
  font-family: "Microsoft Yahei";
  color: #fff;
}

.gwc .gwc-1 .title-1 .liebiao .R .R-1 {
  position: relative;
  float: right;
  height: 40px;
  padding: 10px 0;
  margin-right: 20px;
  line-height: 20px;
}

.gwc .gwc-1 .title-1 .liebiao .R .R-1 em {
  display: block;
}

.gwc .gwc-1 .title-1 .liebiao .R .R-1 span {
  margin: 0 5px;
  color: #0069aa;
  font-size: 14px;
}

.gwc .gwc-1 .title-1 .liebiao .R .R-1 span i {
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
}

.gwc .gwc-1 .title-1 .liebiao .R .R-1 .num {
  text-decoration: none;
}

.dibu {
  background-color: #ebebeb;
  color: #666;
  border-top: 30px #e6e6e6 solid;
}

.dibu .tu-x {
  margin-top: -30px;
  line-height: 30px;
  overflow: hidden;
}

.dibu .tu-x .first {
  width: 16%;
  text-align: center;
  float: left;
  padding-bottom: 30px;
  line-height: 20px;
}

.dibu .tu-x dl {
  width: 14%;
  float: left;
  padding-bottom: 30px;
  text-align: left;
}

.dibu .tu-x dl dt {
  display: block;
}

.dibu .tu-x dl .info {
  margin-top: 15px;
}

.dibu .tu-x dl .info a {
  display: block;
  height: 25px;
  line-height: 25px;
  color: #666;
}

.tu-y {
  margin-left: 0 auto;
  margin-right: 0 auto;
  padding-bottom: 40px;
  text-align: center;
}

.tu-y .about a {
  height: 30px;
  line-height: 30px;
  color: #666;
}

.luoti {
  width: 35px;
  position: fixed;
  top: 100px;
  z-index: 10;
  right: 15px;
  border: 1px solid #ddd;
  display: none;
}

.luoti ul li.active-1 {
  color: red;
  border-bottom: 1px solid #ddd;
  background: #fff;
}

.luoti ul li.last {
  background: #0069aa;
  color: #fff;
  border-bottom: 1px solid #ddd;
}

.luoti ul li {
  width: 35px;
  height: 32px;
  border-bottom: 1px dotted #DDDDDD;
  list-style: none;
  font-size: 12px;
  text-align: center;
  position: relative;
  cursor: pointer;
  padding: 10px 0;
  background: #1777dd;
  color: #fff;
}

.luoti ul li:hover span {
  color: #1777dd;
  background: #fff;
}

.luoti ul li span {
  width: 35px;
  height: 32px;
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 0;
}
